## 查看配置
git config --global -l
## 撤销配置
git config --global --unset https.proxy

## git alias 配置文件
git config --global --replace-all alias.st status
git config --global --replace-all alias.st "status -sb"
git config --global --replace-all alias.co checkout
git config --global --replace-all alias.br branch
git config --global --replace-all alias.mg merge
git config --global --replace-all alias.ci commit
git config --global --replace-all alias.ds "diff --staged"
git config --global --replace-all alias.dt difftool
git config --global --replace-all alias.mt mergetool
git config --global --replace-all alias.last "log -1 HEAD"
git config --global --replace-all alias.latest 'for-each-ref --sort=-committerdate --format=\"%(committername)@%(refname:short) [%(committerdate:short)] %(contents)\"'
git config --global --replace-all alias.ls 'log --pretty=format:\"%C(yellow)%h %C(blue)%ad %C(red)%d %C(reset)%s %C(green)[%cn]\" --decorate --date=short'
git config --global --replace-all alias.hist 'log --pretty=format:\"%C(yellow)%h %C(red)%d %C(reset)%s %C(green)[%an] %C(blue)%ad\" --topo-order --graph --date=short'
git config --global --replace-all alias.type "cat-file -t"
git config --global --replace-all alias.dump "cat-file -p"
git config --global --replace-all alias.lg "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"


## git proxy
git config --global http.proxy http://127.0.0.1:1001
git config --global https.proxy http://127.0.0.1:1001

## 压缩commit
git rebase -i HEAD~3

## 分支压缩
git merge <branch>  --squash